.left{
	margin-left: 10px;
    float: left;
    width: 15%;
    box-sizing: border-box;

}

.left img{
	margin-left: 10px;
}

.right{
	border: 3px solid;
	border-radius: 10px;
	margin-left: 50px;
    padding-right: 10px;
    float: left;
    width: 30%;
}

.right img{
	display: block;
	margin: auto;
}

.right h2{
	text-align: center;
	background-color: #2867ef;
}

.right h5{
	text-align: center;
	width: 100%;
}

.paragraph{
	text-align: center;
}

input[type=text]{
	display: block;
	margin-left: 155px;
}



.login{
    border: 3px solid;
	border-radius: 10px;
	margin-left: 280px;
    float: left;
    width: 30%;
    text-align: center;
}

.logo{
	float: left;
	margin-left: 320px;
}

.apptext{
	text-align: center;
}

.navigation{
	display: inline-flex;
}

.navbutton{
	padding: 5px;	
}

.clear{
	clear: both;
}